@using Bunit.Extensions
@using Bamboozlers.Classes.Data
@using Bamboozlers.Classes.AppDbContext

<Div Class="message-username" Style="display: inline-block" onclick="@(async () => await OpenProfilePopup())">
    @if (User is not null)
    {
        @(!User.DisplayName.IsNullOrEmpty() ? User.DisplayName : User.UserName)
    }
    else
    {
        <text>
            Unknown User
        </text>
    }
</Div>

@code {
    [CascadingParameter] public EventCallback<PopupCallbackArgs> OpenPopupCallback { get; set; }
    [CascadingParameter] public EventCallback ClosePopupCallback { get; set; }

    [Parameter] public User? User { get; set; }

    private async Task OpenProfilePopup()
    {
        if (User is not null)
        {
            await ClosePopupCallback.InvokeAsync();
            await OpenPopupCallback.InvokeAsync(
                new PopupCallbackArgs(
                    RecognizedPopupType.Profile,
                    FocusUser: User
                )
            );
        }
    }

}