.word-break {
    word-wrap: break-word;
    word-break: break-all;
}

.centre-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-tab {
    min-height: 45vh;
    max-height: 45vh;
    margin: 2%;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth
}

.settings-container {
    margin: 2%;
    padding: 0 10%;
}

.settings-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%
}

.user-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 20px;
    background-color: #28292e;
    padding: 0.5em 0.5em 0.5em 0.7em;
    border-radius: 5px;
    align-self: center;
}

.user-container .inner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-container > * {
    flex: 0 0 auto;
}

.user-container:hover {
    background-color: #2c2f33;
    cursor: pointer;
}

.user-container .action-button {
    margin-left: -200px;
    margin-right: 0;
}

.user-container:hover > .message-username:hover {
    text-decoration: none;
}

.clipping-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}