.word-break {
    word-wrap: break-word;
    word-break: break-all;
}

.centre-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-tab {
    min-height: 45vh;
    max-height: 45vh;
    margin: 2%;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth
}

.settings-container {
    margin: 2%;
    padding: 0 10%;
}

.settings-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%
}