.border-mask { /* Mask outer border of image so it appears circular */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.fit { /* Fit image into container within a square and cut off excess */
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
}

._32x32 {
    object-fit: cover;
    width: 32px;
    height: 32px;
}

._64x64 {
    object-fit: cover;
    width: 64px;
    height: 64px;
}

._128x128 {
    object-fit: cover;
    width: 128px;
    height: 128px;
}

._256x256 {
    object-fit: cover;
    width: 256px;
    height: 256px;
}

._512x512 {
    object-fit: cover;
    width: 512px;
    height: 512px;
}

.overlay-wrapper { /* Container for image, overlay */
    position: relative;
    width: 256px;
    height: 256px;
}

.overlay-base { /* Image to have overlay */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.overlay { /* Image to be overlayed */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .25s ease;
}

.overlay-wrapper:hover .overlay { /* Overlay appears semi-transparent */
    opacity: 0.7;
}