:root {
    --hover-background-colour: hsl(217, 16%, 20%);
    --highlight-background-colour: hsl(219, 24%, 26%);
}

.message-input {
    width: 100%;
    border: none;

    background-color: transparent;
    outline: none;
    box-shadow: none;
    resize: none;
    overflow: hidden;
}

.message-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.message-avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 3px;
    object-fit: cover;
}

.message-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.message-username {
    font-weight: bold;
}

.message-username:hover {
    text-decoration: underline;
    cursor: pointer;
}

.message-timestamp {
    color: #8e8e8e;
    font-size: 12px;
    margin-left: 10px;
    align-self: center;
}

.message-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.message {
    padding: 2px 5px;
    border-radius: 5px;
}

.message:hover {
    background-color: var(--hover-background-colour);
}

.highlight {
    background-color: var(--highlight-background-colour);
}

.message-actions {
    display: flex;
    position: absolute;
    top: -15px;
    right: 0;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}

.message:hover .message-actions {
    background-color: #585858;
}

.message:hover .message-actions button {
    visibility: visible;
}

.message-actions button {
    padding: 2px 15px;
    visibility: hidden;
    position: relative;
}

.message-actions button:hover {
    background-color: #727272;
}

.button-tooltip:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    background-color: #313131;
    color: #b3b3b3;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    z-index: 10;
}

.button-tooltip:focus {
    outline: 0;
}

.tooltip-left:hover::after {
    top: 50%;
    left: -70px;
    transform: translateY(-50%);
}

.tooltip-right:hover::after {
    top: 50%;
    right: -70px;
    transform: translateY(-50%);
}

.tooltip-down:hover::after {
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-up:hover::after {
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
}