::deep .group-dm-button {
    margin: 10px;
    width: calc(100% - 20px);
}

::deep .group-dm-list {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 80%;
    width: calc(100% - calc(20px - var(--scrollbar-width)));
}

::deep .profile-button {
    position: absolute;
    margin: 10px;
    width: calc(100% - 20px);
    bottom: 0;
    display:flex; 
    align-items: center; 
    justify-content: space-between;
}