@using Bamboozlers.Classes.AppDbContext

@if (PreviousMessage == null || PreviousMessage.SenderID != Message.SenderID)
{
    <Div Class="message-header" Style="@(PreviousMessage == null ? "" : "margin-top: 15px;")">
        <Div Class="message-info">
            @if (Message.Sender!.Avatar != null)
            {
                <Image Source=@($"data:image/png;base64,{Convert.ToBase64String(Message.Sender.Avatar)}") Class="message-avatar" alt=""/>
            }
            <CompInteractUsername User="@Message.Sender"/>
            <Div Class="message-timestamp">
                @Message.SentAt.ToString("dd/MM/yyyy HH:mm:ss tt")
            </Div>
        </Div>
    </Div>
}

@code {

    [Parameter] public Message Message { get; set; }

    [Parameter] public Message? PreviousMessage { get; set; }

}