@using Bamboozlers.Classes.AppDbContext
@using Bamboozlers.Components.Utility


<Div Class="message-header">
    <Div Class="message-info">
        @if (Message.Sender is not null)
        {
            <Image Source="@Message.Sender.GetAvatar()" Class="message-avatar" alt=""/>
        }
        <CompInteractUsername User="@Message.Sender"/>
        <Div Class="message-timestamp">
            @Message.SentAt.ToString("dd/MM/yyyy HH:mm:ss tt")
        </Div>
    </Div>
</Div>

@code {

    [Parameter] public Message Message { get; set; }
    
}