@page "/"

@rendermode InteractiveServer

@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Authorization
@using Bamboozlers.Classes.AppDbContext
@using Bamboozlers.Classes.Interop
@using Bamboozlers.Classes.Networking
@using Bamboozlers.Classes.Services
@using Bamboozlers.Components.Settings
@using IMessageService = Bamboozlers.Classes.Services.IMessageService

@inject IDbContextFactory<AppDbContext> Db
@inject AuthenticationStateProvider AuthStateProvider;
@inject IMessageService MessageService;
@inject IServiceProvider ServiceProvider;
@inject IJSRuntime JsRuntime;

@attribute [Authorize]

<PageTitle>Bamboozlers</PageTitle>

<ErrorBoundary>
    <ChildContent>
        <AuthorizeView>
            <NavLayout @ref="_navLayout" ProfileButtonCallback="@(() => _settingsComponent!.Visible = true)"/>
            <CompSettings @ref="_settingsComponent" StateChangedCallback="@(async () => await _navLayout!.Refresh())"/>
        </AuthorizeView>
    </ChildContent>
    <ErrorContent Context="exception">
        <Layout>
            <LayoutHeader Padding="Padding.Is3"
                          TextSize="TextSize.Heading1"
                          TextColor="TextColor.Danger"
                          Background="Background.Dark">
                Bamboozlers
            </LayoutHeader>
            <LayoutContent Padding="Padding.Is3"
                           Background="Background.Primary"
                           TextColor="TextColor.White">
                <Div Class="h-100 d-flex justify-content-center align-items-center">
                    <Div Class="rounded-3 border-3 border-warning text-warning p-5 fa-2x" 
                         Background="Background.Dark">
                        <p>Oops! Something went wrong.</p>
                        <p>@exception.Message</p>
                    </Div>
                </Div>
            </LayoutContent>
        </Layout>
    </ErrorContent>
</ErrorBoundary>

@code {
    private NavLayout? _navLayout;
    private CompSettings? _settingsComponent;

    protected override async Task OnInitializedAsync()
    {
        MessageService.Init(Db);
        JsInteropHelper.Init(JsRuntime);
        AuthHelper.Init(AuthStateProvider, Db);
        WebSocketHandler.Init();
        await UserService.Init(new ServiceProviderWrapper(ServiceProvider));
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        
        await WebSocketHandler.ConnectAsync();
    }
}