@using Bamboozlers.Classes.AppDbContext
@using Bamboozlers.Classes
@inject IDbContextFactory<AppDbContext> Db

<h3>Friend Window</h3>

<Tabs RenderMode="TabsRenderMode.LazyReload" SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged">
    <Items>
        <Tab Name="All">All</Tab>
        <Tab Name="Pending">Pending</Tab>
        <Tab Name="Blocked">Blocked</Tab>
        <Tab Name="Add Friend">Add Friend</Tab>
    </Items>
    <Content>
        <TabPanel Name="All">
            <CurrentFriends/>
        </TabPanel>
        <TabPanel Name="Pending">
            <PendingFriendRequests/>
        </TabPanel>
        <TabPanel Name="Blocked">
            <BlockedUsers/>
        </TabPanel>
        <TabPanel Name="Add Friend">
            <AddFriend/>
        </TabPanel>
    </Content>
</Tabs>

@code {
    private String selectedTab { get; set; } = "All";
    
    private Task OnSelectedTabChanged( string name )
    {
        selectedTab = name;
        return Task.CompletedTask;
    }
}
