@using Bamboozlers.Classes.AppDbContext

<div class="centre-content">
    @if (HasAvatar)
    {
        <Image Source="@Avatar" Style="float: left; padding-right: 15px;"></Image>
    }
    else
    {
        <div style="padding-right: 15px; width: calc(15px + 24px); height: 24px">@Name[0]</div>
    }
    <span style="float: right;">@Name</span>
</div>

@code {
    [Parameter] 
    public required string Name { get; set; }
    
    [Parameter] 
    public string? Avatar { get; set; }
    
    private bool HasAvatar => !string.IsNullOrEmpty(Avatar);
}