@using Bamboozlers.Classes.AppDbContext

<div style="display: flex; align-items: center">
    @if (HasAvatar)
    {
        <Image Source="https://via.placeholder.com/24" Style="float: left; padding-right: 15px;"></Image>
    }
    else
    {
        <div style="padding-right: 15px; width: calc(15px + 24px); height: 24px">@Friend.Username[0]</div>
    }
    <span style="float: right;">@Friend.Username</span>
</div>

@code {
    [Parameter] 
    public required Chat Entry { get; set; }
    
    [Parameter] 
    public required User Friend { get; set; }
    
    private bool HasAvatar => Friend.Avatar != null;
}