@using Bamboozlers.Classes.AppDbContext

<div style="display: flex; align-items: center; justify-content: left">
    @if (HasAvatar)
    {
        <Image Source="@Entry.GroupAvatar" Style="padding-right: 15px"/>
    }
    else
    {
        <div style="padding-right: 15px; width: calc(15px + 24px); height: 24px">@Entry.GroupName[0]</div>
    }
    <div>
        <span>@Entry.GroupName</span>
    </div>
</div>

@code {
    [Parameter]
    public required GroupEntry Entry { get; set; }
    
    private bool HasAvatar { get; set; }

    protected override void OnInitialized()
    {
        HasAvatar = !string.IsNullOrEmpty(Entry.GroupAvatar);
    }
}