@using Bamboozlers.Classes.AppDbContext

<div style="display: flex; align-items: center; justify-content: left">
    @if (HasAvatar)
    {
        <Image Source="https://via.placeholder.com/24" Style="padding-right: 15px"/>
    }
    else
    {
        <div style="padding-right: 15px; width: calc(15px + 24px); height: 24px">@Entry.Name[0]</div>
    }
    <div>
        <span>@Entry.Name</span>
    </div>
</div>

@code {
    [Parameter]
    public required GroupChat Entry { get; set; }
    
    private bool HasAvatar => Entry.Avatar != null;
}