@inherits UserViewComponentBase

@using Bamboozlers.Classes.Data
@using Bamboozlers.Classes.AppDbContext
@using Bunit.Extensions

<Div id="interact-username" Class="message-username" onclick="@(async () => await OpenProfilePopup())">
    @if (User is not null)
    {
        <Div Class="clipping-text" Style="@("max-width: " + MaxWidth)">
            @User.GetName()
        </Div>
    }
    else
    {
        <text>
            Unknown User
        </text>
    }
</Div>

@code {
    [CascadingParameter] public EventCallback<KnownPopupArgs> OpenKnownPopup { get; set; }
    
    [Parameter] public User? User { get; set; }
    
    [Parameter] public string? MaxWidth { get; set; }

    private async Task OpenProfilePopup()
    {
        if (User is not null)
        { 
            await OpenKnownPopup.InvokeAsync(new KnownPopupArgs(PopupType.UserProfile, User));
        }
    }
}