@inherits TabToggle

<Container>
    <Tabs @bind-SelectedTab="InteractionMode">
        <Content>
            <TabPanel id="view-panel" Name="view">
                <Container Width="Width.Is75">
                    <p>
                        We store data you provided to us as part of creating and updating your account as well as data that was generated as part of this process.
                        You can download this data at any time.
                    </p>
                    <Container Width="Width.Is75" TextAlignment="TextAlignment.Center">
                        <Form action="Account/DownloadPersonalData" method="post">
                            <AntiforgeryToken/>
                            <Button Color="Color.Primary" Type="ButtonType.Submit">Download personal data</Button>
                        </Form>
                    </Container>
                    <br/>
                    <p>
                        You can delete your account and its associated data from our application permanently at any time.
                    </p>
                    <Container Width="Width.Is25">
                        <Button id="toggle-edit" Width="Width.Is100" Color="Color.Danger" Clicked="Toggle">Delete Account</Button>
                    </Container>
                </Container>
            </TabPanel>
            <TabPanel id="edit-panel" Name="edit">
                <Container>
                    <EditForm Model="Input" OnValidSubmit="OnValidSubmitAsync" method="post">
                        <DataAnnotationsValidator/>
                        <Container>
                            <Container Width="Width.Is75">
                                <p>
                                    Please confirm your password to delete your account.
                                </p>
                                <Div class="form-floating mb-3">
                                    <InputText id="password" type="password" @bind-Value="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your password."/>
                                    <label for="password" class="form-label">Password</label>
                                    <ValidationMessage For="() => Input.Password" class="text-danger"/>
                                </Div>
                            </Container>
                            <Container Width="Width.Is50">
                                <p>
                                    Are you sure you want to delete your account? This action is permanent and cannot be reversed!
                                    If you wish to use this application again, you will have to create a new account.
                                </p>
                                <Row>
                                    <Column>
                                        <Button id="toggle-view" Width="Width.Is100" Color="Color.Secondary" Clicked="Toggle">Cancel</Button>
                                    </Column>
                                    <Column>
                                        <Button id="submit-button" Width="Width.Is100" Color="Color.Danger" Type="ButtonType.Submit">Delete my Account</Button>
                                    </Column>
                                </Row>
                            </Container>
                        </Container>
                    </EditForm>
                </Container>
            </TabPanel>
        </Content>
    </Tabs>
</Container>

@code
{
    [SupplyParameterFromForm] private InputModel Input { get; set; } = new();

    public async Task<bool> OnValidSubmitAsync()
    {
        if (DataChangeFunction is null)
        {
            await StatusChangeEvent.InvokeAsync(StatusArguments.BasicStatusArgs);
            return false;
        }
        
        var result = await DataChangeFunction.Invoke(new UserDataRecord
        {
            DataType = UserDataType.Deletion,
            CurrentPassword = Input.Password
        });
        
        return result;
    }

    private sealed class InputModel
    {
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";
    }
}