@inherits UserViewComponentBase
@implements ICompImageUploader

<ModalContent Size="ModalSize.Large" Centered>
    <ModalHeader>
        Create a new Group Chat
    </ModalHeader>
    <ModalBody>
        
    </ModalBody>
    <ModalFooter>
        <Button>
            <Icon Name="IconName.Ban"/>
            Cancel
        </Button>
        <Button Color="Color.Success">
            <Icon Name="IconName.Check"/>
            Confirm
        </Button>
    </ModalFooter>
</ModalContent>

@code {
    
}