@page "/Account/ConfirmEmail"
@using Bamboozlers.Classes.AppDbContext
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using System.Text

@inject UserManager<User> UserManager
@inject IdentityRedirectManagerWrapper RedirectManager

<PageTitle>Confirm email</PageTitle>

<h1>Confirm email</h1>
<StatusMessage Message="@_statusMessage" Link="@_link" LinkText="@_linkText"/>

@code {
    private string? _statusMessage;
    private string? _link;
    private string? _linkText;

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    // ReSharper disable UnusedAutoPropertyAccessor.Local - Used by SupplyParameterFromQuery
    [SupplyParameterFromQuery] private string? UserId { get; set; }

    [SupplyParameterFromQuery] private string? Code { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (UserId is null || Code is null)
        {
            RedirectManager.RedirectTo("");
            return;
        }

        var user = await UserManager.FindByIdAsync(UserId);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            _statusMessage = $"Error loading user with ID {UserId}";
        }
        else
        {
            var code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
            var result = await UserManager.ConfirmEmailAsync(user, code);
            if (result.Succeeded)
            {
                _statusMessage = "Thank you for confirming your email. ";
                _link = "Account/Login";
                _linkText = "click here to login.";
            }
            else
            {
                _statusMessage = "Error confirming your email. ";
                _link = "Account/ResendEmailConfirmation";
                _linkText = "Resend Confirmation Email";
            }
        }
    }

}