@page "/Account/RegisterConfirmation"
@using Bamboozlers.Classes.AppDbContext
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager
@inject IdentityRedirectManagerWrapper RedirectManager

<PageTitle>Register confirmation</PageTitle>

<h1>Register confirmation</h1>

<StatusMessage Message="@_statusMessage"/>
<p>Please check your email to confirm your account.</p>

@code {
    private string? _statusMessage;

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    // ReSharper disable once UnusedAutoPropertyAccessor.Local - Used by SupplyParameterFromQuery
    [SupplyParameterFromQuery] private string? Email { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Email is null)
        {
            RedirectManager.RedirectTo("");
            return;
        }

        var user = await UserManager.FindByEmailAsync(Email);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            _statusMessage = "Error finding user for unspecified email";
        }
    }

}